*, h1, h2, h3, h4, h5, h6, div, span, p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; !important
}

body {
	padding-top: 60px;
}
#control-separator {
	margin-top: 10px;
	margin-bottom: 10px;
}

#info-title {
	/*color: #2A7CA0*/
}

#options-title {
	/*text-decoration: underline;*/
}

#precision-title, #randomness-title, #dimension-title{
	/*color: #2A7CA0;*/
	color: #2779aa;
	font-weight: bold;
}

/*#random-options-holder, #dimension-options-holder {
	padding-left: 10px;
}*/

#randomness-tooltip {
	/*color: #aed0ea;*/
}

#randomness-tooltip:hover, #dimensionality-tooltip:hover {
	cursor: pointer;
	text-decoration: none;
}

#content {
	text-align:center;
}

#result-title {
	/*color: #2A7CA0;*/
	/*color: #2779aa;*/
	font-weight: bold;
}

#plot-holder {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

#loading {
	z-index: 1000; 
	margin-top: -400px
}

.filler50, #about {
	height: 50px;
}

#about-content div h2{
	text-align: center;
}

#about-content div p, #about-content div ul {
	font-size: 125%;
}

#about-content div ul li {
	margin: 0 0 10px;
}

.filler25 {
	height: 25px;
}

.filler5 {
	height: 5px;
}