*, h1, h2, h3, h4, h5, h6, div, span, p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; !important
}

body {
	padding-top: 60px;
}

#controls {
	
}

#content {
	text-align:center;
}

#plot-holder {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}