*, h1, h2, h3, h4, h5, h6, div, span, p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; !important
}

body {
	padding-top: 60px;
}

#info-title {
	/*color: #2A7CA0*/
}

#options-title {
	text-decoration: underline;
}

#precision-title, #randomness-title, #dimension-title{
	color: #2A7CA0;
	font-weight: bold;
}

#random-options-holder, #dimension-options-holder {
	padding-left: 10px;
}

#content {
	text-align:center;
}

#result-title {
	color: #2A7CA0;
	font-weight: bold;
}

#plot-holder {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

#loading {
	z-index: 1000; 
	margin-top: -400px
}